<script src="{{site.baseurl}}/assets/js/world.js"></script>
<script src="{{site.baseurl}}/assets/js/viewport.js"></script>
<script src="{{site.baseurl}}/assets/js/markings/marking.js"></script>
<script src="{{site.baseurl}}/assets/js/markings/stop.js"></script>
<script src="{{site.baseurl}}/assets/js/markings/start.js"></script>
<script src="{{site.baseurl}}/assets/js/markings/crossing.js"></script>
<script src="{{site.baseurl}}/assets/js/markings/parking.js"></script>
<script src="{{site.baseurl}}/assets/js/markings/light.js"></script>
<script src="{{site.baseurl}}/assets/js/markings/target.js"></script>
<script src="{{site.baseurl}}/assets/js/markings/yield.js"></script>
<script src="{{site.baseurl}}/assets/js/editors/markingEditor.js"></script>
<script src="{{site.baseurl}}/assets/js/editors/graphEditor.js"></script>
<script src="{{site.baseurl}}/assets/js/editors/crossingEditor.js"></script>
<script src="{{site.baseurl}}/assets/js/editors/stopEditor.js"></script>
<script src="{{site.baseurl}}/assets/js/editors/startEditor.js"></script>
<script src="{{site.baseurl}}/assets/js/editors/parkingEditor.js"></script>
<script src="{{site.baseurl}}/assets/js/editors/lightEditor.js"></script>
<script src="{{site.baseurl}}/assets/js/editors/targetEditor.js"></script>
<script src="{{site.baseurl}}/assets/js/editors/yieldEditor.js"></script>
<script src="{{site.baseurl}}/assets/js/items/tree.js"></script>
<script src="{{site.baseurl}}/assets/js/items/building.js"></script>
<script src="{{site.baseurl}}/assets/js/math/utils.js"></script>
<script src="{{site.baseurl}}/assets/js/math/graph.js"></script>
<script src="{{site.baseurl}}/assets/js/primitives/point.js"></script>
<script src="{{site.baseurl}}/assets/js/primitives/segment.js"></script>
<script src="{{site.baseurl}}/assets/js/primitives/polygon.js"></script>
<script src="{{site.baseurl}}/assets/js/primitives/envelope.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>