<h1>World Editor</h1>
<canvas id="myCanvas"></canvas>
<div id="controls">
   <button onclick="dispose()">🗑️</button>
   <button onclick="save()">💾</button>
   <label for="fileInput" class="file-input-label">
      📁
      <input
         type="file"
         id="fileInput"
         accept=".world"
         onchange="load(event)"
      />
   </label>
   &nbsp;
   <button id="graphBtn" onclick="setMode('graph')">🌐</button>
   <button id="stopBtn" onclick="setMode('stop')">🛑</button>
   <button id="yieldBtn" onclick="setMode('yield')">⚠️</button>
   <button id="crossingBtn" onclick="setMode('crossing')">🚶</button>
   <button id="parkingBtn" onclick="setMode('parking')">🅿️</button>
   <button id="lightBtn" onclick="setMode('light')">🚦</button>
   <button id="startBtn" onclick="setMode('start')">🚙</button>
   <button id="targetBtn" onclick="setMode('target')">🎯</button>
</div>